@{
    ViewBag.Title = "Index";
}

@Scripts.Render("~/bundles/knockout")

<link href="~/Content/css/select2.css" type="text/css" rel="stylesheet" />

<style>
    #ticketResponse {
        height: auto;
        height: 50px;
    }

    body:before {
        background-color: #f2f2f2;
    }

    .select2-container {
        width: 100%;
    }
</style>
<h3>Faliyet Listesi</h3>
<div class="widget" style="width: 98% !important; margin-left:1%;">
    <h4 class="widgettitle" style="background-color:#808080; margin-bottom:-5px !important">Filtreler</h4>
    <div class="widgetcontent">
        <div class="row">
            <div class="col-md-5">
                <label for="actionName" class="col-md-3 control-label">Faaliyet Adı</label>
                <input id="actionName" type="text" class="form-control input-default" placeholder="Faaliyet Adı">
            </div>

            <div class="col-md-6">
                <label for="actionName" class="col-md-3 control-label">Kullanıcı Listesi</label>
                @Html.TextBox("ddlUserList", "", new { id = "ddlUserList", @class = "col-md-3" })
            </div>
            <div class="clearfix"></div>
            <br />
            <div class="col-md-6">
                <label for="inputPassword" class="col-md-2 control-label">Başlangıç Tarihi</label>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-2">
                            <input id="datepicker" style="width:150px" type="text" placeholder="dd/MM/yyyy" name="date" class="form-control startDate datepicker" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <label for="inputPassword" class="col-md-2 control-label">Bitiş Tarihi</label>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-2">
                            <input id="datepicker2" style="width: 150px" type="text" placeholder="dd/MM/yyyy" name="date" class="form-control endDate datepicker" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- widgetcontent-->
</div>

<div class="maincontentinner">
    <div id="dyntable_wrapper" class="dataTables_wrapper" role="grid">
        <div id="dyntable_length" class="dataTables_length">
            <label>
                Gösterilecek Kayıt
                <select id="tablePageSize" size="1" aria-controls="dyntable">
                    <option value="10">10</option>
                    <option value="25" selected="selected">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                sayısı
            </label>
        </div>

        <div class="peoplelist">
            <div class="row" data-bind="foreach: action_index.ActionList()">

                <div class="col-md-3">
                    <div class="peoplewrapper">
                        <div class="thumb">
                            <a data-fancybox-type="iframe" data-bind="attr: {  href: '/Action/Edit/'+ ActionId() }" class="createEditStudent">
                                <img class="col-md-2" style="padding-top: 2% !important" src="~/images/photos/nothumb.png" alt="">
                            </a>
                        </div>
                        <div class="peopleinfo">
                            <h4>
                                <a class='tooltipped' data-position="left" data-delay="1"
                                   data-bind="attr: {  href: '/SubAction/Index/'+ ActionId() }">
                                    <span data-bind="text: Name"></span>
                                </a>


                                @*<a class="createEditStudent btn btn-danger btn-large" data-fancybox-type="iframe" href="@Url.Action("ChangePassword", "User", new {id = Model.Id})">Şifre Değiştir</a>*@

                                <br /><span class="off" data-bind="text: Description"></span>
                                <br /><span class="pull-right" style="font-size: 20px !important" data-bind="text: SubActionCount"></span>
                                <br />
                            </h4>
                        </div>
                        <!--peopleinfo-->
                    </div>
                    <!--peoplewrapper-->
                </div>

            </div>
        </div>
        <!--peoplelist-->

        <div class="controls text-center">
            <button type="submit" name="submit" class="btn blue btn-primary getReport hide">&nbsp;Get Report</button>
            <a href="javascript:;" class="btn blue getReport hide"><i class="icon-reorder"></i>&nbsp;Get Report</a>
            <p class="clearfix"></p>
        </div>
        @Html.Partial("_ODataPager")

    </div>
</div>

@section Scripts
{


    <script src="~/Scripts/select2.js"></script>
    <script src="~/Scripts/application/action_index.js"></script>
    <script src="~/Scripts/adminTemplateJs/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Scripts/adminTemplateJs/js/jquery-ui-1.10.3.min.js"></script>

    <script src="~/Scripts/adminTemplateJs/js/bootstrap-timepicker.min.js"></script>

    <script type="text/javascript">

        var pageSize = 10000;
        var userList = '@Html.Raw(Json.Encode(ViewBag.UserList))'
        console.log(userList);
        var obj = jQuery.parseJSON(userList);
        $('#ddlUserList').select2(
            {
                placeholder: 'Lütfen Kullanıcı Seçiniz',
                minimumInputLength: 0,
                multiple: true,
                allowClear: true,
                ajax: {
                    quietMillis: 150,
                    url: '/Problem/GetUserList/',
                    dataType: 'jsonp',
                    type: "POST",
                    data: function (term, page) {
                        return {
                            searchTerm: term,
                            pageSize: pageSize,
                            pageNum: page
                        };
                    },
                    results: function (data, page) {
                        var more = (page * pageSize) < data.Total;
                        return { results: data.Results, more: more };
                    }
                }
            }).on('change', function (e) {
                action_index.trigerLoadFromServer();
            }).on('select', function (e) {
                console.log("select");
            }).select2("data", $.parseJSON(userList));

        $(document).ready(function () {
            action_index.init();

            jQuery(".datepicker").datepicker({
                buttonImageOnly: true,
                dateFormat: "dd/mm/yy",
                monthNames: ["Ocak", "Subat", "Mart", "Nisan", "Mayis", "Haziran", "Temmuz", "Agustos", "Eylul", "Ekim", "Kasim", "Aralik"],
                dayNamesMin: ["Pts", "Sl", "Crs", "Prs", "Cm", "Cts", "Pzr"]
            });
        });

        function pagerAction(action, pageNum) {
            action_index.pagerAction(action, pageNum);
        }
    </script>
}