@model SakaryaBel.Web.Models.Action

@{
    ViewBag.Title = "Yeni Faliyet";
}

<link href="~/Content/css/select2.css" type="text/css" rel="stylesheet" />
<style>
    body:before {
        background-color: #f2f2f2;
    }

    .select2-container {
        width: 100%;
    }
</style>
<h3>Yeni Faliyet</h3>
<div class="widgetbox box-inverse">
    <h4 class="widgettitle" style="margin-bottom: -5px"></h4>
    <div class="widgetcontent nopadding">
        @using (Html.BeginForm("New", "Action", FormMethod.Post, new { @class = "stdform stdform2", id = "frmActionNew" }))
        {
            @Html.AntiForgeryToken()

            @Html.Hidden("fileTypeList")
            <p>
                <label><span style="color: red; font-size: 20px">&nbsp;*</span>Faliyet Başlığı</label>
                <span class="field col-xs-12 col-md-6">
                    @Html.TextBoxFor(m => m.Name, new { @placeholder = "Faliyet Başlığı", @class = "input-xxlarge .span5", @id = "name" })
                    @Html.ValidationMessageFor(m => m.Name, String.Empty, new { @class = "help-inline", @style = "color:red" })
                </span>
            </p>

            <p>
                <label><span style="color: red; font-size: 20px">&nbsp;*</span>Faliyet Açıklama</label>
                <span class="field col-xs-12 col-md-6">
                    @Html.TextAreaFor(m => m.Description, new { @placeholder = "Detay", @class = "form-control", @id = "description" })
                    @Html.ValidationMessageFor(m => m.Description, String.Empty, new { @class = "help-inline", @style = "color:red" })
                </span>
            </p>

            @*<p>
                    <label>Profil Resmi</label>
                    <div class="row field col-xs-12 col-md-6">
                        <div>
                            <div class="widget-box transparent">
                                <div class="widget-body">
                                    <div class="widget-main no-padding">
                                        <div class="form-horizontal">
                                            <span class="btn block btn-success fileinput-button">
                                                <i class="glyphicon glyphicon-plus"></i>
                                                <span>Dosya Seç</span>
                                                <input id="fileupload" type="file" name="files">
                                            </span>
                                            <br />
                                            <span id="fileContainer"></span>
                                            <br />
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0;">
                                                    <span class="sr-only">0% complete</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p>*@

            <p class="stdformbutton pull-right">
                <button id="btnCreate" type="submit" class="btn btnTeacherNewSubmit">Kaydet</button>
                <a href="/Action/Index" class="btn">Iptal</a>
            </p>
        }
    </div>
    <!--widgetcontent-->
</div>


@section Scripts
{
    @*<link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />

        <script src="~/Scripts/jQuery.FileUpload/jquery.fileupload.js"></script>
        <script src="~/Scripts/jQuery.FileUpload/jquery.fileupload-ui.js"></script>
        <script src="~/Scripts/ui/document_create.js"></script>
        <script src="~/Scripts/select2.js"></script>
            @Scripts.Render("~/bundles/knockout")
    *@



    <script>
        $(document).ready(function () {
            //user_new.init();
        });
    </script>
}