@{
    ViewBag.Title = "File Preview";
    Layout = null;

    string urlAuthority = "/Files/";
    int FileType = (int)ViewBag.FileType;
    string FileName = Convert.ToString(ViewBag.FileName);
}


<div class="panel-collapse" id="faq-list">
    <div class="panel-body">

        @if (FileType == 1 || FileType == 3)
        {
            @Html.Partial("PlayerControl", new ContentDetail { SourceUrl = urlAuthority + FileName })
        }
        else
        {
            string fileUrl = "<iframe width='100%' height='600px' src='" + urlAuthority + FileName + "'></iframe>";

            @Html.Raw(fileUrl)

            @*if (ViewBag.ContentType == "PowerPoint" && @Model.ConvertStatus == 1)
                {
                    @Html.Partial("Slider")
                }
                else
                {
                    @Html.Raw(Model.SourceUrl)
                }*@
        }
    </div>
</div>